.background {
   background-color: #bbb;
   padding: 1em;
   spacing: 2em;
}

.left_box,
.right_box {
   width: 40em;
   spacing: 2em;
   padding: 2em;
}

.source_box {
   background-color: #ffffff;
   border-radius: 8px;
   padding: 1em;
   spacing: 1em;
}
